<%= form_for(@user) do |form| %>
<% if @user.errors.any? %>
  <p>There was an issue.</p>
  <ul>
  <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<div>
  <%= form.label :email %>
  <%= form.text_field :email %>
</div>

<%= form.submit %>

<% end %>
