<%= form_for(@deck) do |form| %>
<% if @deck.errors.any? %>
  <p>There was an issue.</p>
  <ul>
  <% @deck.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>

<% end %>
<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<%= form.submit %>
<% end %>
