<h1> 
<%= @deck.name %>
</h1>
<%= link_to 'Create card', new_deck_card_path(@deck) %>
<ul>
<% @cards.each do |card| %>
  <li><%= link_to card.front, [@deck, card] %></li>
<% end  %>
</ul>
<%= link_to "Back", decks_path %>