<!DOCTYPE html>
<html>
<head>
  <title>Sixcard</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :javascripts %>
</head>
<body>
<% if current_user %>
<p>Welcome <%= current_user.email %> :: <%= link_to 'Sign Out', sign_out_path, :confirm => 'Are you sure?', :method => :delete %></p>
<% elsif %>
<%= link_to 'Sign in', sign_in_path %>
<% end %>

<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<%= yield %>

</body>
</html>
